**/node_modules
**/.env
**/package-lock.json
**/dist

*.txt

sampleAPIResponseAllCurrencies.json

# BACKEND

backend/package-lock.json

# OS X
backend/.DS_Store*
backend/Icon?
backend/._*


# Windows
backend/Thumbs.db
backend/ehthumbs.db
backend/Desktop.ini

# Linux
backend/.directory
backend/*~


# npm
backend/*.log
backend/*.gz

# yarn
backend/.yarn/*
backend/!.yarn/cache
backend/!.yarn/patches
backend/!.yarn/plugins
backend/!.yarn/releases
backend/!.yarn/sdks
backend/!.yarn/versions

# Coveralls
backend/coverage

# Benchmarking
backend/benchmarks/graphs


# FRONTEND

# testing
frontend//coverage
frontend/
# production
frontend//build
frontend/
# misc
frontend/.DS_Store
frontend/.env
frontend/npm-debug.log